*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #5c5b5b;
  line-height: 1.5rem;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #d299c2 0%, #cbd1b7 100%);
  box-sizing: border-box;
  font-size: 14px;
  height: 100%;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  width: 100px;
  height: 35px;
  border: 1px solid rgb(100, 100, 100);
  background: rgb(100, 100, 100);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.category-text {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  min-height: 20vh;
}
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
  justify-items: center;
  margin: 70px 10% 50px;
}

.cateitems {
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

a + p {
  margin-top: 0px;
  text-align: center;
}

img:hover {
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
}

.recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 100px;
}

ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

ul li::before {
  content: " ▪ ";
  color: rgb(173, 92, 92);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

input {
  border: 1px;
  height: 35px;
  padding: 8px 18px;
  margin: 2rem 0;
  color: rgb(200, 200, 200);
  border-radius: 5px 0 0 5px;
}

input:focus {
  color: #5c5b5b;
}

h1 {
  font-size: 30px;
  margin-top: -10px;
}

h3 {
  font-size: 20px;
}
