.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex: 1 0 450px;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
}

.image {
  border-radius: 10%;
  width: 150px;
  height: 150px;
}
